<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>留言版</title>
        <link rel="stylesheet" href="/static/index.css" type="text/css">

    </head>
    <body>
        <div class="header">發表一篇圖文</div>
        <form id="leave_msg">
            <p><span>文字內容</span><input type="text" placeholder="請輸入留言" name="text" id="leave_text"></p>
            <p><span>圖片檔案</span><input type="file" name="file" id="leave_file"></p>
            <input type="submit" id="leave_btn" value="送出">
        </form>
        <hr/>
        <div id="msg_list">
            <!-- <div class="box">
                <div>哈哈哈哈</div>
                <img src="https://d20dahs05nq76z.cloudfront.net/IMG_9729.JPG"/>
                <hr/>
            </div>
            <div class="box">
                <div>哈哈哈哈</div>
                <img src="https://d20dahs05nq76z.cloudfront.net/IMG_9729.JPG"/>
                <hr/>
            </div> -->
        </div>
        <script src="/static/index.js"></script>
    </body>
</html>